body{
    width: 100vw;
}

.header {
    /* Styles for header */
}

.small-container {
    display: block;
    /* width: 100%; */
    padding: 0px 8%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-small {
    display: flex;
    align-items: center;
}

.contacts img {
    height: 30px;
    width: 30px;
}

.contact-text {
    padding: 0 15px;
}

.contact-text h5 {
    font-weight: 600;
}

.contact-text p {
    font-weight: 300;
    font-size: 12px;
    color: #444;
}

.navbar {
    background: rgb(57, 57, 180);
    padding: 14px 0px;
}

.navbar ul {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    padding-right: 10px;
    color: #fff;
}

.navbar ul li a {
    color: #fff; /* Set text color to white */
    font-size: 20px; /* Increase font size */
}

.search-bar {
    background-color: rgb(70, 122, 105);
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 12%;
}

.search-bar input::placeholder {
    color: #fff;
}

.search-bar input {
    background-color: rgb(47, 114, 114);
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
    width: 100%;
    max-width: 150px;
}


.paragraph {
    background-color: rgb(209, 209, 180); /* Set background color to light yellow */
    background-size: cover;
    width: 100vw;
    height: 80vh;
    color: #fff;
}

#para-text{
    margin-left: 2%;
}

.para-text h1 {
    font-size: 38px;
    text-shadow: 0px 0px 20px #000;
    line-height: 44px;
    margin-left: 2%;
}

.para-text h4 {
    font-size: 30px;
    text-shadow: 0px 0px 20px #000;
    margin-left: 2%;
}

.para-text p {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0px 0px 20px #000;
    margin-left: ;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue; /* Change to your desired blue color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
}

/*        nav bar 2      */
.navbar-2{
    background-color: #999;
    color: #fff;
}
.navbar-2  ul{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    margin-right: 2%;
}

.navbar-2 li {
    font-size: 20px;
    color: white; /* Set text color to white */
}


.navbar-2{
    border-bottom: .5px solid#999;
    color: #fff;
}

#click{
    color: #fff;
    margin right: 2%;
}

a.click-btn{
    position: relative;
}

a.active-btn::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -5px;
    background-color: #4992ff;
    visibility: hidden;
}

.active, .active-btn:active::after{
    visibility: visible;
    width: 100%;
}

/*            overview           */
.overview {
   /* max-width: 200px;  Set maximum width to 1200 pixels */
    max-height: 300px;
    margin: 0 auto; /* Center the overview section horizontally */
    /* Add any other necessary styles */
}

.row-2 {
    display: flex;
    padding: 40px 0px;
    border-bottom: 2px dashed #0067;
}

.overview .col-1 {
    flex: 1;
}

.overview .col-1 img {
    height: 100%;
    width: 100%;
}

.col-1 h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px; /* Increased margin for better separation */
}

.col-1 p {
    font-size: 18px; /* Increased font size for better readability */
    font-weight: 400;
    margin-bottom: 20px; /* Increased margin for better separation */
    color: #444;
}

.col-2 {
    flex: 1; /* Make the image take up the remaining space */
    display: flex;
    justify-content: right; /* Align the image to the right */
    padding-left: 40px; /* Adjusted padding-left value */
}


.col-2 img{
    padding-left: 40px;
}

/*       overview        */
.Overview{
    /* margin: 60px 0px; */
}
.row-2 {
    padding: 40px 0px;
    border-bottom: 2px dashed #0066ff;
}
.Overview .col-2{
    flex: 1;

}
.Overview .col-2 img{
    height: 100%;
    width: 100%;
    padding-left: 40px;
}
.col-2 h2{
    font-weight: 600;
    margin-bottom: 10px;
}
.col-2 p{
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    color: #444;
}

.span-red{
    font-weight: 600;
}

/* ======= Contents ======= */
.content .row-2 {
    display: flex;
    flex-direction: column;
}

.content .col-3 {
    border-bottom: 2px dashed #0066ff;
    padding: 40px 0px;
    margin-bottom: 40px; /* Add margin between each section */
}

.content ul {
    list-style: none;
}

.content ul li::before {
    content: "\f10c";
    font-family: FontAwesome;
    color: #4992ff;
    font-weight: bolder;
    font-size: 8px;
    padding-right: 10px;
    display: inline-block;
    width: 1em;
}

.content li {
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0;
    color: #444;
}

.input-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 0px 25px -20px #555;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.input-card input {
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    outline: none;
    border: 1px solid #ddd;
    color: #999;
}

.input-card h3 {
    color: #4992ff;
    font-size: 30px;
    font-weight: 400;
}

.input-card p {
    color: #555;
    font-weight: 500;
}

.input-card .btn {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: 400;
}

.input-card input::placeholder {
    color: #999;
}

.span-blue {
    color: #0066ff;
    padding-right: 10px;
    font-size: 18px;
}

#Treatment-FAQs hr {
    border: 0.5px solid #ddd;
    margin: 5px 0px;
}

#Patient-Stories {
    border-bottom: none;
}

.story-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card {
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.card-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.card-bottom-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.card-top h5 {
    font-weight: 600;
}

.card-top i {
    font-size: 38px;
    color: #ff6262;
}

.card img {
    width: 200px;
    height: 100%;
}

.card-bottom img {
    width: 50px;
    height: 100%;
}

.card small {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}


/* ======== Doctors team ========= */
.doctor-team{
    background-color: #cdd9e4;
    padding: 60px 0px;
}
.doctor-team .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h3{
    color: red;
    margin-bottom: 5px;
}
.title h2{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
}
.title .span-blue{
    font-size: 28px;
    font-weight: 600;
}

.dr-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dr-card{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 28px -20px #555;

}
.dr-card img{
    max-height: 300px;
    width: 100%;
    max-width: 350px;
}
.dr-card h4{
    color: rgb(255, 34, 34);
}
.dr-card p{
    font-size: 16px;
    font-weight: 600;
    color: #444;
}
.dr-card small{
    color: #777;
    font-weight: 500;
}

/* ======= Hospitals ======== */
.Hospitals{
    background-color: #FFF;
}
.Hospitals .dr-card{
    padding: 0px 0px;
    border: 1px dashed rgb(255, 34, 34);
    border-radius: 8px;
    box-shadow: none;
}
.Hospitals .dr-card img{
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    
}
.Hospitals .dr-card p{
    padding: 10px 0px;
    font-size: 20px;
}
.Hospitals .dr-card h4{
    padding-bottom: 15px;
}
.title p{
    margin-top: 30px;
}
.title p .span-red{
    text-decoration: underline;
    font-size: 16px;
}

/* ========= Footer ======== */
.footer{
    margin-top: 50px;
}
.footer p{
    color: #FFF;
}
.footer-header{
    background-color: #4992ff;
    color: #fff;
    padding: 30px 0px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.footer-header p{
    font-size: 20px;
    font-weight: 500;
}
.footer-header h1{
    font-size: 38px;
    font-weight: 500;
}
.footer-header h3{
    font-size: 22px;
    font-weight: 600;
}
.footer-header .btn{
    font-size: 18px;
    font-weight: 500;
    background-color: #0066ff;
}
.footer-links{
    background-color: #0b2432;
    color: #FFF;
    padding: 30px 0px;
}
.footer-links .row{
    align-items: flex-start;
    padding-bottom: 30px;
}
.footer-links li{
    list-style:none ;
    font-size: 13px;
    cursor: pointer;
}
.footer-links .col-2{
    padding: 0px 10px;

}
.footer-links h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.footer-links hr{
    border: .5px solid #666;
}
.footer-content .col-2 h5{
    color: #4992ff;
    font-size: 20px;
}
.footer-content{
    background-color: #0b2432;
    color: #FFF;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-logo img{
    width: 300px;
}
.social_icons {
    display: flex;
    justify-content: center; /* Align icons horizontally in the center */
}

.icon {
    margin-right: 10px; /* Add spacing between icons */
}

.icon:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

.footer-text{
    width: 100%;
    max-width: 500px;
    margin: 0px 20px;
}
.footer-end{
    background-color: #4992ff;
    color: #FFF;
    padding: 10px 0px;
}
.footer-end p{
    font-weight: 500;
    
}





